@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Source+Sans+Pro:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=PT+Sans&family=Source+Sans+Pro:wght@700&display=swap');

.title {
    font-family: 'Montserrat';
    color: #315A38;
    font-size: 40px;
    position: relative;
    right: 10vh;
}

.description {
    font-family: 'Source Sans Pro';
    color: #315A38;
    font-size: 24px;
    display: flex;
    justify-content: center;
}

.logo {
    position: relative;
    right: 22vh;
}

.logo2 {
    position: relative;
    right: 10vh;
}

.test {
    display: flex;
    justify-content: flex-start;
}