body {
  background-color: #E5E5E5;
}

#App{
  width:100%;
  height:100%;
  position: relative;
}

#vert-line{
  position: absolute;
  border-left: 1px solid #315A38;
  height: 100%;
  left: 6%;
}

#vert-line2{
  position: absolute;
  border-left: 1px solid #315A38;
  height: 100%;
  left: 94%;
}

#title {
  font-family: 'Montserrat';
  color:#315A38;
  font-weight: bold;
  position: absolute;
  left: 15%;
  top: 25%;
  font-size: 75px;
  width: 33%;
}
